.ficha {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "encabezado-ficha"
    "actividades-ficha"
    "estados-ficha";
  width: 400px;
  height: 850px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 10px;
}

img {
  width: 10%;
  padding-top: 5px;
}

.encabezado-ficha {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.6fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre-estudiante nombre-estudiante fotografia"
    "enlaces enlaces fotografia";
  grid-area: encabezado-ficha;
  border-radius: 5px;
  background-color: rgb(227, 196, 255);
  height: 210px;
 
}

.nombre-estudiante {
  font-weight: bold;
  font-family: "Imprima", sans-serif;
  color: rgb(255, 255, 255);
  grid-area: nombre-estudiante;
  font-size: 20px;
  width: 250px;
  padding-top: 10px;
  padding-left: 10px;
  height: 20px;
   padding-bottom: 5px;

}

p {
  padding-left: 10px;
  font-size: 10px;
}

.letra {
  margin-top: 20px;
  font-size: 15px;
}

.estadoui p2 {
  padding-right: 4px;
}

.estadojs p2 {
  padding-right: 4px;
}

.enlaces {
  grid-area: enlaces;
  background-color: rgb(250, 235, 255);
  border-radius: 7%;
  width: 230px;
  padding-left: 0px;
  border-left-width: 20px;
  margin-left: 10px;
    height: 130px;
    padding-bottom: 40px;

}

.fotografia {
  justify-self: center;
  align-self: center;
  grid-area: fotografia;
  padding-right: 5px;
}
.foto {
  width: 100%;
  border-radius: 50%;
}

main {
  margin: 0 auto;
  background-color: black;
  width: 400px;
  height: 850px;
  padding-right: 30px;
  border-radius: 20px;
}
.actividades-ficha {
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas:
    "titulo-actividades"
    "encabezado-actividades"
    "estado-actividades";
  grid-area: actividades-ficha;
  background-color: rgb(227, 196, 255);
  border-radius: 5px;
  margin-top: 10px;
  height: 400px;
  margin-bottom: 10px;
}

.titulo-actividades {
  justify-self: center;
  align-self: center;
  grid-area: titulo-actividades;
  font-weight: bold;
  font-family: "Imprima", sans-serif;
  color: rgb(255, 255, 255);
  grid-area: nombre-estudiante;
  font-size: 40px;
}

.encabezado-actividades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "item nombre estadouiux estadodev";
  grid-area: encabezado-actividades;
  padding-top: 20px;
}

.item {
  grid-area: item;
}

.nombre {
  grid-area: nombre;
}

.estadouiux {
  grid-area: estadouiux;
}

.estadodev {
  grid-area: estadodev;
}

.estado-actividades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nro enlace porcentajeuiux porcentajedev";
  grid-area: estado-actividades;
  border-style: dotted;

}

.nro {
  grid-area: nro;
}

.enlace {
  grid-area: enlace;
}

.porcentajeuiux {
  grid-area: porcentajeuiux;
}

.porcentajedev {
  grid-area: porcentajedev;
}

.estados-ficha {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "estadohtml estadocss estadojs estadoui estadoux total";
  grid-area: estados-ficha;
  background-color: rgb(227, 196, 255);
  border-radius: 5px;
  height: 150px;
}

p1 {
  font-weight: bold;
  font-family: "Imprima", sans-serif;
  font-size: 15px;
}

.estadohtml {
  justify-self: center;
  align-self: center;
  grid-area: estadohtml;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

.estadocss {
  justify-self: center;
  align-self: center;
  grid-area: estadocss;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

.estadojs {
  justify-self: center;
  align-self: center;
  grid-area: estadojs;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

.estadoui {
  justify-self: center;
  align-self: center;
  grid-area: estadoui;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

.estadoux {
  justify-self: center;
  align-self: center;
  grid-area: estadoux;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

.total {
  justify-self: center;
  align-self: center;
  grid-area: total;
  border-radius: 50%;
  height: 90px;
  width: 60px;
  font-size: 15px;
  text-align: center;
  background-color: blueviolet;
  font-weight: bold;
}

/*RESPONSIVE CELULAR*/
@media (max-width: 460px) {
  main {
    width: 360px;
    height: 690px;
  }

  /*Ficha*/

  .ficha {
    width: 360px;
    height: 690px;
    padding-left: 10px;
    padding-top: 10px;
    
  }

  .fotografia {
    width: 130%;
    padding-right: 40px;
  }

  .encabezado-ficha {
    height: 200px;
    width: 370px;
    padding-top: 0px;
  }

  .nombre-estudiante {
    font-size: 20px;
    padding-top: 5px;
    height: 10px;
    width: 250px;
  }

  .enlaces {
    width: 150px;
    height: 100px;
    margin-top: 10px;
   
  }
  p {
    margin-top: 7px;
    font-size: 10px;
  }
  /*ACTIVIDADES*/

  .actividades-ficha {
    height: 350px;
    width: 360px;
    margin-top: 10px;
   
  }

  div .item p1 {
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
  }
  div .nombre p1 {
    padding-right: 10px;
    width: 20px;
  }

  p1 {
    font-size: 10px;
  }

  .porcentajeuiux {
    padding-right: 30px;
  }

  .porcentajedev {
    padding-right: 30px;
  }

  .enlace {
    padding-right: 20px;
    width: 130px;
  }

  .titulo-actividades {
    margin-top: 10px;
    font-size: 20px;
  }

  .encabezado-actividades {
    padding-top: 0px;
  }

  /*ESTADOS*/

  .estados-ficha {
    height: 100px;
    width: 360px;
  }

  p2 {
    font-size: 10px;
   
  }

  .estadohtml {
    width: 40px;
    height: 90px;
  }

  .estadocss {
    width: 40px;
    height:90px;
   
  }
  .estadojs {
    width: 40px;
    height:90px;
  }
  .estadoui {
    width: 40px;
    height:90px;
  }
  .estadoux {
    width: 40px;
    height:90px;
  }
  .total {
    width: 40px;
    height:90px;
  }
}
